<?xml version='1.0' encoding='utf-8'?>
<!--
  ~ plugin.xml
  ~
  ~   PSPDFKit
  ~
  ~   Copyright (c) 2015-2017 PSPDFKit GmbH. All rights reserved.
  ~
  ~   THIS SOURCE CODE AND ANY ACCOMPANYING DOCUMENTATION ARE PROTECTED BY INTERNATIONAL COPYRIGHT LAW
  ~   AND MAY NOT BE RESOLD OR REDISTRIBUTED. USAGE IS BOUND TO THE PSPDFKIT LICENSE AGREEMENT.
  ~   UNAUTHORIZED REPRODUCTION OR DISTRIBUTION IS SUBJECT TO CIVIL AND CRIMINAL PENALTIES.
  ~   This notice may not be removed from this file.
-->
<plugin id="pspdfkit-cordova-android" version="3.3.3" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>PSPDFKit-Android</name>
    <description>Integration of the PSPDFKit for Android library.</description>
    <author>PSPDFKit</author>
    <keywords>pdf,pspdfkit,android</keywords>
    <license>MIT</license>

    <info><![CDATA[
You're almost set up for using PSPDFKit-Android for Apache Cordova! Two more steps:

  1) Place your PSPDFKit library aar file into the `platforms/android/libs/` directory of your project.
  2) Add your PSPDFKit license key to the <meta-data name="pspdfkit_license_key"> tag of your AndroidManifest.xml.
]]></info>

    <engines>
        <engine name="cordova-android" version=">=5.0.0"/>
    </engines>

    <js-module name="PSPDFKit" src="www/PSPDFKit.js">
        <clobbers target="PSPDFKit"/>
    </js-module>

    <platform name="android">
        <source-file src="src/android/java/com/pspdfkit/cordova/PSPDFKitCordovaPlugin.java"
                     target-dir="src/com/pspdfkit/cordova"/>

        <source-file src="src/android/java/com/pspdfkit/cordova/PSPDFKitCordovaPluginException.java"
                     target-dir="src/com/pspdfkit/cordova"/>

        <source-file src="src/android/java/com/pspdfkit/cordova/ExtractAssetTask.java"
                     target-dir="src/com/pspdfkit/cordova"/>

        <resource-file src="src/android/res/values/styles.xml" target="res/values/styles.xml" />

        <framework custom="true" src="src/android/pspdfkit.gradle" type="gradleReference"/>

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="PSPDFKitCordovaPlugin">
                <param name="android-package" value="com.pspdfkit.cordova.PSPDFKitCordovaPlugin"/>
            </feature>
        </config-file>

        <config-file parent="/*/application" target="AndroidManifest.xml" after="activity">
            <activity android:name="com.pspdfkit.ui.PdfActivity"
                      android:theme="@style/PSPDFKit.Theme"
                      android:windowSoftInputMode="adjustNothing"/>
        </config-file>
    </platform>
</plugin>
